# Python libraries of igam3-screen (Linux and Windows), installed from the Internet:
#   python -m pip install -r requirements.txt
# Made by packaging/build.sh from a tested environment.
babel==2.18.0
certifi==2026.7.22
charset-normalizer==3.5.1
GPUtil @ https://github.com/mathoudebine/gputil/archive/refs/tags/1.4.1-py3.13.tar.gz#sha256=005d035f6f19b410d9dbbf0d2c71ab908084a48fa05de122987d0c6c6d0505a9
idna==3.20
numpy==2.4.6
pillow==12.2.0
ping3==5.1.5
psutil==7.2.2
pycryptodome==3.23.0
pyserial==3.5
pystray==0.19.5
python-xlib==0.33
pyusb==1.3.1
PyYAML==6.0.3
qrcode==8.2
requests==2.33.1
ruamel.yaml==0.19.1
six==1.17.0
sv_ttk==2.6.1
tkinter-tooltip==3.1.2
uptime==3.0.1
urllib3==2.8.0
pywin32>=306; sys_platform == "win32"
